* {
    margin: 0 auto;

    text-align: center
}

html {
    background-color: #682983;

    color: white;

    font-size: 2em;

    font-family: 'Allerta Stencil', sans-serif;

    font-size: 17pt
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D4AF37;
    outline-color: black;
    outline: inherit;
    height: px;
    font-size: 17pt;
    text-align: left
}

li {
    float: left;
    font-size:
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a img {width: 20px; height: 20px; margin-bottom: -3px}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    cursor: pointer;
    border-color: #FFFFFF;
    border-width: medium;
    border-style: solid;
}

.active {
    background-color: #4CAF50;
}
